<div class="siteMap" id="siteMap"></div>
<div class="formsy">
  <div id="dialogueInfo">
      <span class="diaName">{{ data.Name }}</span>
      <a href="https://www.google.com/maps/dir/?api=1&destination={{ data.FullAddress }}&travelmode=driving" target='_blank'><span class="diaAddress">{{ data.FullAddress }}</span></a>
      <span class="currentlyServing">{{ 'DIRECTORY.meal_served' | translate }}:</span>
      <span *ngIf="data.MealServed.length > 0" class="diaMeals">{{ data.MealServed }}</span>
      <a href="tel:{{ data.Phone }}" class="call-location">Call Now ( {{ data.Phone }} ) </a>
  </div><!-- closes dialogueInfo-->


</div><!--closes formsy-->
<form class="feature-form">

  <button mat-button mat-dialog-close>Back To Directory</button>
</form>
