<h1 class="text-center" >Site Details</h1>

<div class="formsy">
<form class="feature-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Site Name" value="{{ data.Name }}">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Street Address" value="{{ data.Address1 }}">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="City" value="{{ data.City }}">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="State" value="{{ data.State }}">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Zip Code" value="{{ data.Zip }}">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Meals" value="{{ data.Meals }}">
  </mat-form-field>

  <br>
  <button mat-button mat-dialog-close>Close</button>


</form>
</div>
<div class="siteMap" id="siteMap"></div>
<!-- <ul>
  <li> Name: {{ data.Name }} </li>
  <li> Address1: {{ data.Address1 }} </li>
  <li> City: {{ data.City }} </li>
  <li> Zip Code: {{ data.Zip }} </li>
  <li> Meals: {{ data.Meals }} </li>
  <li *ngFor="let site of data">{{ site.Name }}</li>
</ul> -->
