.aboutus{
  background-color: #2584EF;
}

.lead[_ngcontent-c2] {
  text-align: center;
  font-weight: 500;
  
  color: #ccf1ff;
  border: 1px dotted rgba(0, 220, 255, 0.41);
  border-radius: 4px;
  padding: 21vh 4vh;
  line-height: 4vh;
  text-align:center;
}
#aboutWrap img {
  width:40vw;
  max-width:290px;
  display:block;
  margin:0 auto;
  margin-top:20vh;
}

#aboutWrap p {
  text-align:left;
  margin:5vh auto;
  display:block;
  
  max-width:800px;
  min-width:300px;
}

.lead p {
  max-width:600px;
  width:100%;
  margin:0 auto;
  font-size:2vh;
}
span.mealmapblurb {
  color: #fff;
  font-weight: 600;
}

span.mapblurb {
  color: #5ed7ff;
}

#aboutWrap {
  width: 100%;
  padding:16vh 8vw 8vw 8vw ;
  background-color: #2584EF;
  color: #fff !important;
  height: 100vh;
  overflow: scroll;
  background: radial-gradient(#2851e7,#1f48dc,#1a45e4);
  text-align:center;
}

.numeral {
  font-size:5vh;
  margin: 0 0 3vh 0;
  color: rgba(255,255,255,1);
  letter-spacing: -1px;
  display:block;
}

.numeralMinor {
  font-size:2vh;
  
}

.infolead {
  display: block;
  font-size:2.2vh;
  letter-spacing:0px;
  font-weight:600;
  max-width: 800px;
margin: 0 auto 10vh auto;
padding-bottom:10vh;
border-bottom:1px solid rgba(0,0,0,.15);
line-height: 3.5vh;
}

.numeral::before {
  content: '';
  height: 40px;
  width: 1px;
  background-color: rgba(255,255,255,.21);
  display: block;
  margin: 2vh auto 0 auto;
}

.bigHeader {
  margin-top:4vh;
  font-size:7rem;
  letter-spacing: -3px;
  color: rgba(255,255,255,.9);
}

p {
  color: rgba(255,255,255,.65);
  line-height: 2.4rem;
  margin-bottom:4em;
}

.mapsHeader {
  color: #5ed7ff;
}
.jumbotron {
  background-color: rgba(0,0,0,0) !important;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,.2);
  margin-bottom: 4em;
  padding:0 0 0 0;
}

a {
  color: #fff;
  text-decoration: underline;
}

h2 {
  text-align:center;
}