#aboutWrap {
  max-width:800px;
  min-width:300px;
  width:90%;
  margin:auto;
  margin-top:15vh;
  /* background-color: #2584EF; */
  color:#1d1d1d !important;
  min-height: 100vh;
  overflow: scroll;
  /* background: radial-gradient(#2851e7,#1f48dc,#1a45e4); */
  text-align:left;
  
}

.lead[_ngcontent-c2] {
  text-align: center;
  font-weight: 500;
  
  color: #1d1d1d;
  border: 1px dotted rgba(0,0,0, 0.41);
  border-radius: 4px;
  padding: 21vh 4vh;
  line-height: 4vh;
  text-align:center;
}
#aboutWrap img {
  width:40vw;
  max-width:290px;
  display:block;
  margin:0 auto;
  margin-top:20vh;
}

#aboutWrap h1, #aboutWrap h2, #aboutWrap h3, #aboutWrap h4 {
  font-size:25px !important;
  border-bottom: 2px solid #ffde16;
  margin-top:10vh !important;

  
}
#aboutWrap p, #aboutWrap ul, #aboutWrap h1, #aboutWrap h2, #aboutWrap h3, #aboutWrap h4 {
  text-align:left;
  margin:5vh 0;
  display:block;
}

#aboutWrap ul {
  padding: 0 0 0 0;
  list-style-type: none;
}

#aboutWrap ul li {
  line-height:20px;
  position:relative;
  padding-left:15px;
  margin-bottom:20px;
}
#aboutWrap ul li::before {
  content: '+';
  position:absolute;
  left:0;
  font-weight:700;
  color:#ffde16;
  margin-right: 5px;
}

.lead p {
  max-width:600px;
  width:100%;
  margin:0 auto;
  font-size:2vh;
}
span.mealmapblurb {
  color: #1d1d1d;
  font-weight: 600;
}


.numeral {
  font-size:5vh;
  margin: 0 0 3vh 0;
  color: #1d1d1d;
  letter-spacing: -1px;
  display:block;
}

.numeralMinor {
  font-size:2vh;
  
}

.infolead {
  display: block;
  font-size:2.2vh;
  letter-spacing:0px;
  font-weight:600;
  max-width: 800px;
margin: 0 auto 10vh auto;
padding-bottom:10vh;
border-bottom:1px solid rgba(0,0,0,.15);
line-height: 3.5vh;
}

.numeral::before {
  content: '';
  height: 40px;
  width: 1px;
  background-color: rgba(255,255,255,.21);
  display: block;
  margin: 2vh auto 0 auto;
}

.bigHeader {
  margin-top:4vh;
  font-size:7rem;
  letter-spacing: -3px;
  color: #1d1d1d;
}

p {
  color: #1d1d1d;
  line-height: 2.4rem;
  margin-bottom:4em;
}

.jumbotron {
  background-color: rgba(0,0,0,0) !important;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,.2);
  margin-bottom: 4em;
  padding:0 0 0 0;
}

a {
  color: #1d1d1d;
  text-decoration: underline;
}

h2 {
  text-align:center;
}

#sponsors {
  background-color: #d4d1cc;
display: flex;
padding: 10vh 2vh;
}

#sponsors a , #sponsors a svg{
  max-height:10vh;
  margin:auto;
  width:20vw;
  display: inline-block;
}


