/* body { margin:0; padding:0; }

#map { position:absolute; top:0; bottom:0; width:100%; } */

#menu {
        position: absolute;
        background: #fff;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
    }

    /* <style> */
      /* body {
        margin: 0;
        padding: 0;
      }

      #map {
        float: right;
        top: 0;
        bottom: 0;
        width: 70%;
      }
      #body-contain{
        padding: 2%;
      } */
      .jumbotron {
        color: black;
      }
      body {
        /* background: #404040; */
        /* color: #f8f8f8; */
        font: 500 20px/26px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
        margin: 0;
        padding: 0;
        margin-bottom: 5%;
        background-color: white;


        /* -webkit-font-smoothing: antialiased; */
      }

      /* The page is split between map and sidebar - the sidebar gets 1/3, map
      gets 2/3 of the page. You can adjust this to your personal liking. */
      .sidebar {
        color: black;
        width: 33.3333%;
        display: inline-block;
        overflow: scroll;
        height: 500px;
        /* background-color: salmon; */
      }

      .map {
        display: inline-block;
        vertical-align: top;
        height: 500px;
        border-left: 1px solid #fff;
        /* position: absolute; */
        left: 0%;
        width: 65%;
        top: 0;
        bottom: 0;
      }

      .pad2 {
        padding: 20px;
        /* -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; */
      }
      .mainbod {
        height: 50%;
      }

    /* </style> */

/* SIDE BAR LOAD DATA STUFF */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

/* .sidebar {
  position: absolute;
  width: 33.3333%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
} */

.pad2 {
  padding: 20px;
}

/* .map {
  position: absolute;
  left: 33.3333%;
  width: 66.6666%;
  top: 0;
  bottom: 0;
} */

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
  display: block;
  color: #00853e;
  font-weight: 700;
}

.listings .item .title small { font-weight: 400; }

.listings .item.active .title,
.listings .item .title:hover { color: #8cc63f; }

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

.clearfix { display: block; }

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* ======================================================================
FLY IN ONTO SPECIFIC ADDRESS CSS STUFF....a few things still don't work correctly
====================================================================== */

/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  background: #91c949;
  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

/* ADDING CUSTOM MARKERS STYLING! */
.marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url("../assets/sgMapMarker.png");
  background-color: rgba(0, 0, 0, 0);
}

/* FINAL TWEAKS */

.mapboxgl-popup {
  padding-bottom: 50px;
}
/* GEOCODER CONTROL CSS */

.mapboxgl-ctrl-geocoder {
  border: 0;
  border-radius: 0;
  position: relative;
  top: 0;
  width: 800px;
  margin-top: 0;
}

.mapboxgl-ctrl-geocoder > div {
  min-width: 100%;
  margin-left: 0;
}
