
    <div class="container">
      <div class="jumbotron">
        <h3 class="display-4 text-center">Summer Time Meals</h3>
        <!-- <p class="lead text-center">Search for food sides near you!</p> -->
        <p class="lead text-center">Type in your address to find near by food sites!</p>
        <p class="text-center"> <button (click)="getLocation()" type="Submit" class="btn btn-primary btn-sm center">Current Location</button></p>
        <hr class="my-4">
        <div class='sidebar'>
          <div class='heading'>
            <h1>Our locations</h1>
          </div>
          <div id='listings' class='listings'></div>
        </div>
        <div id='map' class='map pad2'></div>
        <hr class="my-4">
      </div>
      <!-- <div class="container mainbod"> -->
      <!-- <h1>Food Sites</h1>
      <div class='sidebar pad2'>
        <p *ngFor="let ting of listingTest">Name: {{ ting.name }} <br> {{ ting.desc }}</p>
      </div> -->


      <!-- </div> -->

<!--
      <div class="container" id="body-contain">
        <div id='map' style='width: 70%; height: 300px;'></div>

      </div> -->


  <!-- </body>
</html> -->
<router-outlet></router-outlet>
<!-- ======================================================================================
====================================================================================== -->
