<div id="appNavBar">

    <h2 class="summertimeMeals tween"><a href="#first">Meal<span class="headlineMap">Maps</span></a></h2>
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53 41"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Untitled-1</title><rect class="cls-1" width="53" height="9.26" rx="2.57" ry="2.57"/><rect class="cls-1" y="15.87" width="53" height="9.26" rx="2.57" ry="2.57"/><rect class="cls-1" y="31.74" width="53" height="9.26" rx="2.57" ry="2.57"/></svg>
    <ul id="navigationBar">
      <li><a href="">How It Works</a></li>
      <li><a href="">Who We Are</a></li>
      <li><a href="">Donors</a></li>
    </ul>
   </div>