<div id="appNavBar">

    <h2 class="summertimeMeals tween"><a href="/">Meal<span class="headlineMap">Maps</span></a></h2>

    <div id="mobileNavContainer">
        <svg id="menuIcon" data-name="menuIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53 41">
          <defs>
            <style>.cls-1{fill:#fff;}</style>
          </defs>
          <rect class="cls-1" width="53" height="9.26" rx="2.57" ry="2.57"/>
          <rect class="cls-1" y="15.87" width="53" height="9.26" rx="2.57" ry="2.57"/>
          <rect class="cls-1" y="31.74" width="53" height="9.26" rx="2.57" ry="2.57"/>
        </svg>

        <ul id="mobileNav">
            <li><a routerLink="/about">HOW IT WORKS</a></li>
            <li><a routerLink="/about">WHO WE ARE</a></li>
            <li><a routerLink="/directory">FULL DIRECTORY</a></li>
            <li><a routerLink="/" fragment="findfood">FIND FOOD</a></li>
          </ul>
    </div>

    <ul id="navigationBar">
      <li><img src="./assets/u-construct.png" alt="under construction!" height="42" width="42"><a href=#>(UNDER CONSTRUCTION. THIS IS A DEMO)</a></li>
      <li><a routerLink="/about">HOW IT WORKS</a></li>
      <li><a routerLink="/about">WHO WE ARE</a></li>
      <li><a routerLink="/directory">FULL DIRECTORY</a></li>
      <li><a routerLink="/" fragment="findfood"><span class="foodborder">FIND FOOD</span></a></li>


    </ul>

   </div>
