
    

<div id="first" class="_container">
    <div class="_jumbotron">
      <div class="overlay">
   
        <h1 id="summertimeMeals" class="tween">Meal<span class="headlineMap">Maps</span></h1>
        <p class="_lead">Find free meals in your area.</p>
      <p class="text-center"> <a href="#findfood"><button id="myGeo" (click)="getLocation()" type="Submit" class="btn btn-primary btn-sm center tween">Find Food!</button></a></p>
    
    </div><!--closes frame-->
  </div><!--closes _jumbotron-->

  
</div><!--closes _container-->


<div id="findfood">  
  <div class="_container2">



  <div id="mapSidebarContainer">
    
    
      <div id="sbDrag" class="sidebarWrap">
    
        <div class='heading'>
            <h6 (click)="openSesame()" id="expandCollapse"></h6>
        </div>
        <div id='listings' class='listings'>
          <!--LISTINGS HERE-->
        </div>
      <div id='map' class='map pad2'></div>

    </div><!-- closes mapSidebarContainer-->

  </div>
</div>
<div id="featherOut">
  
</div>





  