<div id="aboutWrap">

    <div class="lead">
        <span class="mealmapblurb">Meal<span class="mapblurb">Maps</span></span> is a simple web app to help families locate free summer meal programs near them.
    </div>

    <img src="assets/graph1.png" alt="84% of Tulsa Children rely on school lunches for proper nutrition." />

        <span class="numeral">
            84<span class="numeralMinor">%</span><span class="infolead">Eighty-four percent of Tulsa kids rely on free and<br> reduced meals to receive proper nutrition.</span>
          </span>

    <p><span class="mealmapblurb">During the school year, 62% of Oklahoma kids rely on free and reduced meals to receive proper nutrition.</span>
       Many of these students do not have access to adequate nutrition outside of school. In Tulsa, a staggering 84%
      of students rely on free-and-reduced meals. Individual families, as well as <a href="http://bit.ly/2DWxnN4">nonprofits</a>
      could greatly benefit from knowing when and where summer meals programs are available.</p>

    <p><span class="mealmapblurb"><a href="https://www.tulsaschools.org/summercafe">Summer Café</a></span> provides nutritional breakfasts and lunches to children, 18 years of age and younger,
      free of charge. More than 70 sites will be serving breakfast and/or lunch throughout the Tulsa Public
      Schools district. Summer Café begins June 1 and runs through August 4. Meals are provided to all children
      18 and under. No application or ID necessary.</p>
  
    </div>
