

<div class="directory">
  <div class="directory-header">
    <mat-card class="side-filter">
      <div id="search-help-info">
        <span [innerHTML]="'DIRECTORY.search_filter' | translate"></span>
      </div>

      <div class="dir-header">
        <mat-form-field id="searchField">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search the Meal Site Directory">
        </mat-form-field>
      </div>
    </mat-card>
  </div>
  <!-- </div> -->
    <div class="table-header-wrapper">
      <h2>{{ 'DIRECTORY.available' | translate }}</h2>
      <span class="callHungerFree" [innerHTML]="'DIRECTORY.for_more' | translate"></span>
    </div>
    <div class="directory-table mat-elevation-z8">

    <mat-table [dataSource]="dataSource2" matSort>

      <!-- ID Column -->


      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'DIRECTORY.locations' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div class="info-title">
            <span class="locationName locationTitle"> {{row.Name}}</span>
            <span class="locationAddress">{{ row.FullAddress }}</span>


            <!--######## *~*~*~*~*~*~ drop miles away & get directionsdata in here *~*~*~**~*~*~*~~ ############ -->
            <!-- <span class="miles-away">::: <span class="currentlyServing">XYZ</span> miles::: <a href="/" alt="get directions" class="get-directions">Get Directions</a></span> -->


          </div>
          <div class="information-container">
            <div class="info-wrapper">
                <p *ngIf="row.MealServed.length > 0" class="currentlyServing">{{ 'DIRECTORY.status' | translate }}:
                <span class="diaMeals">{{ row.Status }}</span></p>
                <p *ngIf="row.MealServed.length > 0" class="currentlyServing">{{ 'DIRECTORY.meal_served' | translate }}:
                <span class="diaMeals">{{ row.MealServed }}</span></p>
                <p class="locationName servingTimes" *ngIf ="row.BreakfastTime.length > 0 || row.LunchTime.length > 0 || row.SnackTime.length >0"><u>{{ 'DIRECTORY.hours' | translate }}</u></p>
                <p *ngIf="row.BreakfastTime.length > 0" class="currentlyServing">{{ 'DIRECTORY.breakfast' | translate }}:
                <span class="diaMeals">{{ row.BreakfastTime }}</span></p>
                <p *ngIf="row.LunchTime.length > 0" class="currentlyServing">{{ 'DIRECTORY.lunch' | translate }}:
                <span class="diaMeals">{{ row.LunchTime }}</span></p>
                <p *ngIf="row.SnackTime.length > 0" class="currentlyServing">{{ 'DIRECTORY.snacks' | translate }}: <span class="diaMeals">{{ row.SnackTime }}</span></p>
              </div>
            <div class="info-wrapper">
              <p *ngIf="row.Phone.length > 0" class="currentlyServing telephone">{{ 'DIRECTORY.phone' | translate }}:
              <a class="diaMeals" href="tel:{{row.Phone}}">{{ row.Phone }}</a></p>
              <p *ngIf="row.DaysOpen.length > 0" class="currentlyServing">{{ 'DIRECTORY.days_open' | translate }}:
              <span class="diaMeals">{{ row.DaysOpen }}</span></p>
              <p *ngIf="row.StartDate.length > 0" class="currentlyServing">{{ 'DIRECTORY.from' | translate }} <span class="diaMeals">{{ row.StartDate }}</span> {{ 'DIRECTORY.to' | translate }} <span class="diaMeals"> {{ row.EndDate }}</span></p>
            </div>
        </div><!--closes information-container-->
        </mat-cell>
      </ng-container>


      <!-- Header Settings -->
      <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>

      <mat-row (click)="openDialog(row.id)" *matRowDef="let row; columns: displayColumns;">
        </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[25, 50, 75, 100]"></mat-paginator>


  </div>

</div>
