.directory {
  margin: calc(150px + 1vw) auto 0 auto;
  width:90%;
  min-width:300px;
  max-width:1100px;
}
.mat-chip {
    font-size: 21px;
    line-height: 30px;
}
mat-card.side-filter {
  max-width: 1100px;
  min-width: 300px;
  margin:auto;
  overflow: hidden !important;
  box-sizing: border-box !important;
  display: flex !important;
  width:90%;
}

.information-container {
  display:inline-flex;
  flex-direction: row;
  flex-flow: row-reverse;
  flex-wrap: wrap;
  justify-content:space-between;
  width:100%;

}

.mat-row.ng-star-inserted {
  padding-bottom: calc(20px + 1vh) !important;
  padding-top: calc(15px + .5vh) !important;
}

.info-wrapper {
  flex-basis:47%;


}


.mat-input-infix.mat-form-field-infix {
  padding-top: 0px !important;
  margin: 0 0 0 0;
}

#mat-input-0 {
  height: 50px;
  border: 1px solid rgba(0,0,0,.12) !important;
  border-radius: 5px;
  box-shadow: inset 1px 1px 18px #ffa50000;
  text-indent: 15px;

}

#mat-input-0:hover {
  background-color: rgba(239, 241, 251, 0.437) !important;
}

/deep/ .mat-form-field-infix {
  border-top: 0px !important;
}
/deep/ .mat-form-field-label-wrapper {

  /* display: none !important; */
  height: 50px;
}
/deep/ .mat-form-field-label {
  height:50px;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 60px !important;
left: 15px !important;
}

/deep/ .mat-form-field-wrapper {
  padding-bottom:0px !important;
}

/deep/ .mat-focused .mat-form-field-label {

  display: none !important;

}
.mat-form-field {
  font-size: 14px;
  width: 100%;
  display:inline-block;
}
div.dir-header {
  display:inline-block;
  width:100%;
  white-space: nowrap;

}

#search-help-info {
  display:inline-block;
  width:27%;
  font-weight:600;
  text-align:right;
  background-color: rgba(255,255,255,.7);
  height:100%;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* border-color: #333;
  border: 1px solid;
  border-radius: 0px 0px 3px 3px;
  border-top: 0px !important; */

  min-width:200px;
  vertical-align:top;

}

#search-help-info span {
  margin: auto;
  line-height:20px;
  margin-top:3px;
}
.mat-table {
  width: 100%;
  overflow: auto;
  max-height: auto;
  display: inline-block;
  text-align:left;
}

.directory-table, h2 {
  margin:auto;
}

.mat-cell {
  font-size:12px;
}

.table-header-wrapper {


  display:inline-block;

}

.table-header-wrapper h2 {
  border: 1px solid rgba(0,0,0,.12);
  padding-top: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: none;
  display:inline-block;
  font-weight:600;
  line-height:75px;
  height:75px;
  vertical-align:middle;
  padding:0 25px;
}

.table-header-wrapper span {
  display: inline-block;
  font-size:13px;
  vertical-align:middle;
  padding:0 25px;
}


div, .mat-table, .mat-cell, .mat-sort-header-button, .mat-form-field {
  font-family: 'Nudista', sans-serif !important;
}

button.mat-sort-header-button, .mat-sort-header-container, .mat-header-cell {
  font-weight:600;
  color:#333;
  font-size:14px !important;
}


span.locationName {
  font-family: 'Nudista', sans-serif;
  display:block;
  font-weight:600;
  text-transform: uppercase;
  color: #333;
}

.locationName.locationTitle {
  font-size: calc(13px + .65vh);
}

.locationName.servingTimes {
  font-weight: 600;
  color: #333;

}

span.locationAddress,  .diaMeals {
  color: rgb(96, 96, 96);
  font-weight:200;
}

.mat-row.ng-star-inserted {
  background-color:rgba(255, 255, 255, 0.963);
  padding: 15px 25px;
}

.mat-row.ng-star-inserted:hover {
  background-color: rgba(239, 241, 251, 0.437);
}

.mat-row.ng-star-inserted, .mat-row.ng-star-inserted:hover, div#hoverPopUp{
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}


.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
}

.directory-header {
  position: fixed;
  top: 50px;
  left: 0;
  right:0;
  background-color: rgba(255,255,255,1);
  width:100%;
  min-height:50px;
  white-space: nowrap;
  padding: .5vw 0 .5vw 0;
  border-bottom: 1px solid rgba(0,0,0,.12);
  box-shadow: 1px 1px 3px rgba(239, 241, 251, 0.437);

}

mat-card.side-filter.mat-card {
  padding: 0 0 0 0;
  height: auto !important;
}
/deep/ .mat-input-underline {
  display: none;
}

/deep/ .mat-form-field-ripple {
  background-color: rgba(255, 222, 22,1);
  height:5px;
}
/deep/ .mat-input-infix.mat-form-field-infix {
  padding-top:10px !important;
}
/deep/ .mat-form-field-infix input:focus {
  background:white;
  border: 1px solid rgba(255,222,22,1) !important;
}



mat-row p {
  display:block !important;
  margin: 0 0 0 0;
}

.servingTimes {
  margin-top: 15px;
  padding-top: 15px;
}

.directory-table {
  box-shadow: none !important;
  border: 1px solid rgba(0,0,0,.12);
}

.locationAddress {
  display:block;

}

.miles-away {
  display:block;
  margin-bottom: 15px;
}

.currentlyServing {
  font-weight:600;
  color: #333;
  margin-top: 3px !important;
}
.mat-cell.cdk-column-Meals.mat-column-Meals.ng-star-inserted {
  margin: 15px auto 15px auto;
}
#hoverPopUp span{
  position:absolute;
  top:1vh;
  right:1.5vh;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  pointer-events:all !important;
  cursor:pointer !important;
  outline: none;
  border: 0px solid rgba(0,0,0,0);
  background: rgba(255,255,255,0);
  display: block;
}

#hoverPopUp span::before {
  content: '['
}

#hoverPopUp span::after {
  content: ']';
}

#hoverPopUp span:hover {
  color:red;

}
#inputWrap div#hoverPopUp {
  opacity:0;
  width: 250px;
  height: 140px;
  position:relative;
  font-size:.5rem;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh;
  line-height: 1.1rem;
  visibility:hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align:justify;
}


#inputWrap:hover div#hoverPopUp {
  opacity:1;
  visibility: visible ;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#mealLoc path {
  stroke:  rgba(255, 222, 22,1);
  fill:none;
}

#mealLoc  {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100%;
}




/deep/ .formsy {
  display: block !important;
  width:100% !important;
}

/deep/ .example-full-width {
  width: 100% !important;
}

/deep/ .mat-form-field-infix {
  /* pointer-events: none !important; */
}

/deep/ .formsy .mat-form-field-underline {
  display: none !important;}


  /deep/ .mat-paginator-container {
    justify-content: center !important;
  }

  /deep/ .mat-paginator-decrement, /deep/ .mat-paginator-increment {
    border-top: 2px solid #ffde16 !important;
    border-right: 2px solid #ffde16 !important;
}


/deep/ mat-paginator .mat-input-underline {
  display: none !important;
}

/deep/ .mat-select-arrow{
  color: #ffde16 !important;
}




  @media screen and (max-width: 800px) {

    .table-header-wrapper {
      width: 100%;
    }

    .table-header-wrapper h2 {
      border-bottom: 1px solid rgba(0,0,0,.12);
      display: block;
      text-align:center;
      width:100%;

    }

    .table-header-wrapper span {
      display: block;
      border-right: 1px solid rgba(0,0,0,.12);
      border-left: 1px solid rgba(0,0,0,.12);
      width:100%;
      text-align:center;
      padding-top:25px;
      padding-bottom: 25px;
      font-size:12px;
      width:100%;
      background-color: rgba(239, 241, 251, 0.437);
    }

    .information-container{
      flex-direction:column;
      flex-flow:column-reverse;
    }

    #search-help-info {
      display: none;
    }


    mat-row p, .mat-cell.cdk-column-Name.mat-column-Name.ng-star-inserted p {
      display: block !important;
    }

    .mat-cell.cdk-column-Meals.mat-column-Meals.ng-star-inserted p {
      display: block !important;
    }
    .currentlyServing, .diaMeals {
      display: inline-block;
    }

    .mat-cell.cdk-column-Meals.mat-column-Meals.ng-star-inserted {
      display:none !important;
    }

    .mat-header-row.ng-star-inserted {
      display: none;
    }


    #mealLocations {
      display:none;
    }

    .mat-form-field {
      font-size:12px;
    }

    .mat-card {
      padding:0 0 0 0 !important;
    }
}
