

.directory {
  padding: 3% 3%;
  overflow:hidden; /*I added this in but can be removed later, I am guessing here. Chromaticdeth19xx*/
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  width: 100%;
  overflow: auto; /*Here is the overflow set to auto again, I'm flying blind here and I am guessing that setting this to hidden will work. Chromaticdeth19xx*/
  max-height: auto;
  display: inline-block;
}
.mat-card {
  width: 25%;
  height: 50%;
  display: inline-block;
  vertical-align: top;
}

.directory-table {
  width: 70%;
  display: inline-block;
  vertical-align: top;

}
